# Environment files with API keys
/src/environments/environment.ts
/src/environments/environment.prod.ts
.env

# Altre esclusioni standard per un progetto Ionic/Angular
/node_modules
/www
/platforms
/plugins
/.sourcemaps
/.ionic
/.sass-cache
/.versions
/coverage
/dist
/tmp
/out-tsc

# Varie
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp
.DS_Store
Thumbs.db
